<h1 mat-dialog-title>Сохранить path</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Название</mat-label>
    <input matInput [(ngModel)]="data.name" cdkFocusInitial>
  </mat-form-field>

  <p *ngIf="storageService.hasPath(data.name)">
    Path с таким названием уже существует. Нажмите <i>Заменить</i>, чтобы обновить его.
  </p>
  <p *ngIf="!storageService.hasPath(data.name)">
    Нажмите <i>Сохранить</i>, чтобы записать текущий path в браузер.
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button (click)="onCancel()" color="primary">Отмена</button>
  <button mat-flat-button (click)="onSave()" color="accent" [disabled]="!data.name">
    <ng-container *ngIf="!storageService.hasPath(data.name)">Сохранить</ng-container>
    <ng-container *ngIf="storageService.hasPath(data.name)">Заменить</ng-container>
  </button>
</div>
