<h1 mat-dialog-title>Открыть path</h1>
<div mat-dialog-content>
  <div class="app-dialog-table-wrap">
    <table mat-table [dataSource]="dataSource" matSort class="app-dialog-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="create">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:190px">Создан</th>
        <td mat-cell *matCellDef="let element">{{formatDate(element.creationDate)}}</td>
      </ng-container>

      <ng-container matColumnDef="change">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:190px">Изменён</th>
        <td mat-cell *matCellDef="let element">{{formatDate(element.changeDate)}}</td>
      </ng-container>

      <ng-container matColumnDef="preview">
        <th mat-header-cell *matHeaderCellDef style="width:78px"></th>
        <td mat-cell *matCellDef="let element">
          <svg
            [attr.viewBox]="viewbox(element.path)"
            class="app-dialog-preview-icon"
            width="50"
            height="50"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path [attr.d]="element.path" fill="none" stroke="#5a6f84" stroke-width="1.2"></path>
          </svg>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width:116px"></th>
        <td mat-cell *matCellDef="let element" style="text-align: right;">
          <button
            *ngIf="!beingRemoved"
            mat-icon-button
            type="button"
            class="dialog-icon-button"
            (click)="beingRemoved=element.name;$event.stopPropagation();"
            matTooltip="Удалить path"
            matTooltipPosition="below"
            matTooltipClass="app-tooltip"
          >
            <mat-icon>delete</mat-icon>
          </button>

          <ng-container *ngIf="beingRemoved===element.name">
            <button
              mat-icon-button
              type="button"
              class="dialog-icon-button"
              (click)="beingRemoved=undefined;$event.stopPropagation();"
              matTooltip="Отмена"
              matTooltipPosition="below"
              matTooltipClass="app-tooltip"
            >
              <mat-icon>close</mat-icon>
            </button>
            <button
              mat-icon-button
              type="button"
              class="dialog-icon-button mat-warn"
              (click)="onRemove(element.name);$event.stopPropagation();"
              matTooltip="Подтвердить удаление"
              matTooltipPosition="below"
              matTooltipClass="app-tooltip"
            >
              <mat-icon>check</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onOpen(row.name)"></tr>
    </table>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button (click)="onCancel()" color="primary">Закрыть</button>
</div>
