<h1 mat-dialog-title>Поделиться path по ссылке</h1>
<div mat-dialog-content>
  <div class="dialog-preview-row">
    <div class="dialog-preview">
      <app-path-preview [path]="data.path ?? ''"></app-path-preview>
    </div>
    <div class="dialog-copy">
      <p>Текущий path можно передать по этой ссылке.</p>
      <mat-form-field class="dialog-link-field">
        <mat-label>URL</mat-label>
        <input matInput readonly [ngModel]="getUrl()" #input>
        <button mat-icon-button matSuffix matTooltip="Копировать ссылку" (click)="copy()">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button (click)="onCancel()" color="primary">Закрыть</button>
</div>
