@use '@angular/material' as mat;

@include mat.core();

$svg-path-editor-primary: mat.define-palette(mat.$grey-palette, 800);

$svg-path-editor-accent-palette: (
  50: #f7e5eb,
  100: #ebbdcb,
  200: #de91a8,
  300: #d06585,
  400: #c6466a,
  500: #b5284f,
  600: #ae2448,
  700: #a51e3f,
  800: #9d1836,
  900: #8d0f26,
  A100: #ffbdd0,
  A200: #ff8aad,
  A400: #ff578a,
  A700: #ff3d78,
  contrast: (
    50: #16202c,
    100: #16202c,
    200: #16202c,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #16202c,
    A200: #16202c,
    A400: #ffffff,
    A700: #ffffff,
  )
);

$svg-path-editor-accent: mat.define-palette($svg-path-editor-accent-palette, 500, 300, 700);
$svg-path-editor-warn: mat.define-palette(mat.$red-palette);

$svg-path-editor-theme: mat.define-dark-theme((
  color: (
    primary: $svg-path-editor-primary,
    accent: $svg-path-editor-accent,
    warn: $svg-path-editor-warn
  ),
  typography: mat.define-typography-config(
    $body-2: mat.define-typography-level($font-size: 12px),
    $button: mat.define-typography-level($font-size: 14px, $font-weight: 500)
  ),
  density: 0
));

@include mat.core-theme($svg-path-editor-theme);
@include mat.button-theme($svg-path-editor-theme);
@include mat.fab-theme($svg-path-editor-theme);
@include mat.icon-button-theme($svg-path-editor-theme);
@include mat.checkbox-theme($svg-path-editor-theme);
@include mat.menu-theme($svg-path-editor-theme);
@include mat.dialog-theme($svg-path-editor-theme);
@include mat.tooltip-theme($svg-path-editor-theme);
@include mat.form-field-theme($svg-path-editor-theme);
@include mat.table-theme($svg-path-editor-theme);
@include mat.slider-theme($svg-path-editor-theme);
@include mat.snack-bar-theme($svg-path-editor-theme);

@include mat.typography-hierarchy($svg-path-editor-theme);
